html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 12px;
}
body {
  font-family: 微软雅黑;
  overflow: hidden;
}
a {
  text-decoration: none;
}
.container {
  position: relative;
  height: 100%;
  width: 100%;
}
.container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container .nav {
  position: absolute;
  min-width: 250px;
  height: 100%;
  background: #211D1D;
}
.container .nav .nav-top {
  height: 150px;
  width: 100%;
}
.container .nav .nav-content {
  position: absolute;
  top: 150px;
  z-index: 1;
  overflow: auto;
  width: 100%;
  bottom: 0;
}
.container .nav .nav-content .nav-item-li:hover .nav-item-a {
  background-color: #fff;
  color: #211D1D;
}
.container .nav .nav-content .nav-item-li .nav-item-a {
  color: white;
  background-color: #00BB9C;
  padding: 10px;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  text-overflow: ellipsis;
  border: none;
}
.container .nav .nav-content .nav-item-li .nav-item-a i {
  width: 20px;
  margin: 0 8px;
  height: 16px;
  display: inline-block;
  background-image: url("images/home.png");
}
.container .tab {
  position: relative;
  height: 100%;
  margin-left: 250px;
}
.container .tab .top {
  overflow: hidden;
  padding: 10px;
  height: 70px;
  line-height: 70px;
  font-size: 24px;
  font-weight: bold;
}
.container .tab .top img {
  width: 30px;
  vertical-align: middle;
  height: 30px;
  border-radius: 7px;
  cursor: pointer;
}
.container .tab .top img:hover {
  box-shadow: 0 0 5px;
}
.container .tab .tab-list {
  width: 100%;
  height: 40px;
  background-color: #00BB9C;
  overflow: hidden;
  position: relative;
  box-shadow: 0 7px 20px;
}
.container .tab .tab-list .tab-content {
  width: 300%;
  position: relative;
}
.container .tab .tab-list .tab-control {
  position: absolute;
  right: 0;
  width: 60px;
  background-color: #808080;
  height: 40px;
  line-height: 48px;
  text-align: center;
  z-index: 2;
}
.container .tab .tab-list .tab-control a {
  width: 16px;
  height: 16px;
  display: inline-block;
}
.container .tab .tab-list .tab-control .control-left {
  background-image: url("images/aquo-left.png");
}
.container .tab .tab-list .tab-control .control-right {
  background-image: url("images/aquo-right.png");
}
.container .tab .tab-list .tab-obj {
  cursor: pointer;
  position: relative;
  text-align: center;
  z-index: 1;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.container .tab .tab-list .tab-obj:hover {
  box-shadow: 0 0 12px;
  background: #808080;
}
.container .tab .tab-list .tab-obj:hover .tab-close {
  display: block;
}
.container .tab .tab-list .tab-obj .tab-link {
  color: white;
  width: 75px;
  font-size: 12px;
  padding: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}
.container .tab .tab-list .tab-obj .tab-link:active .tab-obj {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.container .tab .tab-list .tab-obj i {
  background-image: url("images/home.png");
  line-height: 40px;
  font-style: normal;
  float: left;
  margin-left: 10px;
  width: 20px;
  height: 16px;
  margin-top: 12px;
}
.container .tab .tab-list .tab-obj .tab-close {
  position: absolute;
  right: -6px;
  top: 12px;
  display: none;
  width: 10px;
  background-image: url("images/close.png");
  z-index: 1;
  padding: 3px;
  line-height: 10px;
  border-radius: 4px;
  cursor: pointer;
  height: 10px;
}
.container .tab .tab-list li {
  padding: 0;
  float: left;
}
.container .tab .content {
  left: 0;
  overflow: auto;
  bottom: 0;
  right: 0;
  top: 130px;
  position: absolute;
  padding: 10px;
  font-size: 12px;
}
.container .tab .content .content-inner {
  min-width: 960px;
}
::-webkit-scrollbar-thumb {
  background-color: #211D1D;
  height: 50px;
  outline-offset: -2px;
  outline: 2px solid #fff;
  -webkit-border-radius: 4px;
}
/*---鼠标点击滚动条显示样式--*/
::-webkit-scrollbar-thumb:hover {
  background-color: #fb5424;
  height: 50px;
  -webkit-border-radius: 4px;
}
/*---滚动条大小--*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border: none;
}
/*---滚动框背景样式--*/
::-webkit-scrollbar-track-piece {
  -webkit-border-radius: 0;
}
.active {
  background-color: black;
}
